@model ProductRecord
@inject IProductsRepository _productsRepository
@inject UserManager<IdentityUser> _userManager;
@{
    var product = Model;
}
<div class="col-md-3 col-xs-6">
    <div class="product">
        <div class="product-img">
            <a class="vt-ratio-1x1">
            <img src="@_productsRepository.GetPic(product)" alt="">
            </a>
            <div class="product-label">
                @{
                    if (product.DiscountPercent != 0)
                    {
                        <span class="sale">@(product.DiscountPercent)%</span>
                    }
                }
                <span class="new">NEW</span>
            </div>
        </div>
        <div class="product-body">
            <p class="product-category">@product.CategoryId</p>
            <h3 class="product-name">
                <a asp-page="/Products/Pages/ProductDetails" asp-route-id="@product.Id">@product.ProductName</a>
            </h3>
            @if (product.IsDiscount && product.DiscountPercent > 0)
            {
                <h4 class="product-price">
                    @(_productsRepository.GetPriceWithDiscount(product.Price, product.DiscountPercent))₽
                    @if (product.IsDiscount && product.DiscountPercent > 0)
                    {
                        <del class="product-old-price">@_productsRepository.GetNormalizedProductPrice(product.Price)₽</del>
                    }
                </h4>
            }
            else
            {
                <h4 class="product-price">
                    @(_productsRepository.GetNormalizedProductPrice(product.Price))₽
                    @if (product.IsDiscount && product.DiscountPercent > 0)
                    {
                        <del class="product-old-price">@_productsRepository.GetNormalizedProductPrice(product.Price)₽</del>
                    }
                </h4>
            }
            <div class="product-rating">
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </div>
            <div class="product-btns">
                <button class="add-to-wishlist">
                    <i class="bi bi-heart"></i><span class="tooltipp">В избранное</span>
                </button>
                <button class="add-to-compare">
                    <i class="bi bi-bar-chart"></i><span class="tooltipp">Сравнить</span>
                </button>
                <button class="quick-view">
                    <i class="bi bi-eye"></i><span class="tooltipp">Просмотр</span>
                </button>
            </div>
        </div>
        @*<div class="settings">
            <a asp-page="/Products/Pages/ProductPictureEdit" asp-route-id="@product.Id">
                <i class="bi bi-image"></i>
            </a>
        </div>*@
        @{
            if (User.Identity.Name is not null)
            {
                var user = await _userManager.FindByNameAsync(User.Identity.Name);
                var userId = user.Id;

                <div class="add-to-cart">
                    <form method="post"
                          asp-page="/Basket/Create"
                          asp-page-handler="Create">
                        <input type="hidden" name="productId" asp-for="@product.Id"/>
                        <input type="hidden" name="userId" asp-for="@userId"/>
                        <button class="add-to-cart-btn"><i class="bi bi-cart"></i> Купить</button>
                    </form>
                </div>
            }
        }
    </div>
</div>
