@page
@model ElectrStore.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderItemsRecord</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input asp-for="@Model.OrderItemsRecord.Id" type="hidden"/>
                <input asp-for="@Model.OrderItemsRecord.ProductName" type="hidden"/>
                <input asp-for="@Model.OrderItemsRecord.Price" type="hidden"/>
                <input asp-for="@Model.OrderItemsRecord.ProductId" type="hidden"/>
                <input asp-for="@Model.OrderItemsRecord.OrderId" type="hidden"/>
            </div>
            <div class="form-group">
                @*TODO: Добавить добавление новой категории товара*@
                <label>Количество товара</label>
                <input asp-for="@Model.OrderItemsRecord.BuyQuantity" class="form-control"/>
                <span asp-validation-for="@Model.OrderItemsRecord.BuyQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться на страницу корзины</a>
</div>