@page
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ElectrStore.Pages.Buscket.IndexModel
@inject UserManager<IdentityUser> _userManager
@inject StoreContext _context


@{
    ViewData["Title"] = "Index";
}
@{
    var user = await _userManager.FindByNameAsync(User.Identity.Name);
    var userId = user.Id;
    var order = await _context.OrderRecords.Where(u => u.UserId == userId && u.Status == 0)
        .FirstOrDefaultAsync();
}
    <h1>Корзина</h1>
@{
    if (order is not null)
    {
        <table class="table">
            <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Идентификатор корзины
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @{
                List<OrderItemsRecord> items = null;

                items = await _context.OrderItemsRecords.Where(u => u.OrderId == order.Id)
                    .ToListAsync();

                foreach (var item in items)
                {
                    <tr>
                        <td>
                            <p>@item.ProductName</p>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    </tr>
                }

            }
            </tbody>
        </table>
        <form method="post"
              asp-page-handler="SubmitOrder">
            <input type="hidden" name="userId" asp-for="@userId"/>
            <button>
                Заказать
            </button>
        </form>
    }
    else
    {
        <h2>Корзина пуста!</h2>
    }
}