@page
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ElectrStore.Pages.Buscket.IndexModel
@inject UserManager<IdentityUser> _userManager
@inject StoreContext _context
@inject IProductsRepository _productsRepository


@{
    ViewData["Title"] = "Index";
}
@{
    var user = await _userManager.FindByNameAsync(User.Identity.Name);
    var userId = user.Id;
    var order = await _context.OrderRecords.Where(u => u.UserId == userId && u.Status == 0)
        .FirstOrDefaultAsync();
    List<OrderItemsRecord> orderItemsRecords = new List<OrderItemsRecord>();
    if (order is not null)
    {
        orderItemsRecords = await _context.OrderItemsRecords
            .Where(u => u.OrderId == order.Id)
            .ToListAsync();
    }
}
<h1>Корзина</h1>
@{
    if (order is not null && orderItemsRecords.Count != 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Изображение
                </th>
                <th>
                    Категория
                </th>
                <th>
                    Количество
                </th>
                <th>
                    Сумма
                </th>
            </tr>
            </thead>
            <tbody>
            @{
                var items = await _context.OrderItemsRecords.Where(u => u.OrderId == order.Id)
                    .ToListAsync();

                foreach (var item in items)
                {
                    var product = _context.ProductRecords
                        .Where(product => product.Id == item.ProductId)
                        .ToList();
                    foreach (var elem in product)
                    {
                        <tr>
                            <td>
                                <p>@elem.ProductName</p>
                            </td>
                            <td>
                                <a class="vt-ratio-1x1">
                                    <img src="@_productsRepository.GetPreviewPic(elem)" alt="">
                                </a>
                            </td>
                            <td>
                                <p>@elem.CategoryId</p>
                            </td>
                            <td>
                                @if (item.BuyQuantity > elem.Quantity)
                                {
                                    Model.AvaChecker = false;
                                    <p class="text-danger">На складе столько нет!</p>
                                }
                                <p>@item.BuyQuantity</p>
                            </td>
                            <td>
                                <p>@{
                                       string text;
                                       if (elem.IsDiscount)
                                       {
                                           var sum = item.Price * item.BuyQuantity;
                                           text = _productsRepository.GetNormalizedProductPrice(Convert.ToDouble(sum));
                                       }
                                       else
                                       {
                                           var sum = item.Price * item.BuyQuantity;
                                           text = _productsRepository.GetPriceWithDiscount(Convert.ToDouble(sum), elem.DiscountPercent);
                                       }
                                   } @text P</p>
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a>
                                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                            </td>
                        </tr>
                    }
                }

            }
            </tbody>
        </table>
        @if (Model.AvaChecker)
        {
            <form method="post"
                  asp-page-handler="SubmitOrder">
                <input type="hidden" name="userId" asp-for="@userId"/>
                <button>
                    Заказать
                </button>
            </form>
        }
    }

    else
    {
        <h2>Корзина пуста!</h2>
    }
}